---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Main from "../layouts/Main.astro";
import Album from "../components/Album.astro";

const albums = await getCollection("albums");
---

<Layout title="Pilotopardo Música">
    <Main>
        <section class="mx-auto grid grid-cols-2 gap-4 md:w-3/4 md:grid-cols-3 md:gap-9">
            {albums.map((album) => <Album album={album} />)}
        </section>
    </Main>
</Layout>