---
import { getCollection } from "astro:content";

import Layout from "../layouts/Layout.astro";
import Album from "../components/Album.astro";

const albums = await getCollection("albums");
---

<Layout title="Pilotopardo">
    <main class="p-3 bg-slate-200 min-h-svh">
        <section class="grid grid-cols-2 gap-4 md:grid-cols-3">
            {albums.map(album => <Album album={album}/>)}
        </section>
    </main>
</Layout>
