---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { url } from "../utils/all";
type Props = {
    album: CollectionEntry<"albums">;
};

const { album } = Astro.props;
---

<a class="active:scale-95" href={url(album.id)}>
    <Image src={album.data.cover} alt={album.id}/>
    <p class="text-sm font-bold">{album.data.name}</p>
</a>