---
import { url } from "../utils/all"
---

<header class="flex items-center gap-x-3 px-3 pt-5 pb-2">
    <div class="bg-red-600 rounded-full h-6 w-6"></div>
    <h1 class="font-bold text-xl">Pilotopardo</h1>
</header>
<nav class="font-bold flex">
    <a class="px-3 py-4 active:bg-slate-200 active:scale-90" href={url()}>música</a>
    <a class="px-3 py-4 active:bg-slate-200 active:scale-90" href={url("bio")}>bio</a>
</nav>