---
import { url } from "../utils/all"
---


<header class="flex flex-wrap items-center gap-x-3 px-3 py-1 md:py-4 md:px-8">
    <div class="bg-rose-600 h-5 w-5"></div>
    <h1 class="font-bold text-xl">Pilotopardo</h1>
    <nav class="ml-auto font-bold text-lg flex">
        <a class="px-1.5 py-4 active:scale-90 md:px-3" href={url()}>música</a>
        <a class="px-1.5 py-4 active:scale-90 md:px-3" href={url("bio")}>bio</a>
    </nav>
</header>