---
import { url } from "../utils/all"
---
<header class="flex flex-wrap items-baseline gap-x-3 px-5 py-7 md:py-8 md:px-8">
    <div class="bg-rose-600 h-6 w-6"></div>
    <h1 class="font-bold text-3xl">Pilotopardo</h1>
    <nav class="font-bold text-xl ml-auto">
        <a class="block px-3 py-3 active:scale-90" href={url()}>música</a>
    </nav>
</header>