---
import { url } from "../utils/all"
---
<header class="flex flex-wrap items-baseline px-5 py-5 md:py-8 md:px-8">
    <div class="bg-rose-600 h-6 w-6 mr-2"></div>
    <h1 class="font-bold text-4xl">Pilotopardo</h1>
    <nav class="font-bold text-xl ml-auto">
        <a class="block px-2 py-2 active:scale-90" href={url()}>música</a>
    </nav>
</header>