---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro"
import { url } from "../utils/all";
const { title = "" } = Astro.props
---

<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href={url("favicon.svg")} />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body class="min-h-svh bg-gradient-to-tl from-gray-100 to-gray-50 font-sans tracking-tighter">
		<Header/>
		<slot/>
	</body>
</html>

